{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'newmonth/styles.css' %}" />
  </head>
  <body>
    <h1>Welcome to my App that check if its a new month</h1>
    {% if now %}
    <h2>Yes</h2>
    {% else %}
    <h2>No, Today is {{ currentDate }}</h2>
    {% endif %}
  </body>
</html>
